{%extends 'index.html' %}
{%block title%} SELECCION {%endblock%}

{%block content%}
    <h1 class="form-title">Selecciona areas de apoyo</h1>
    <div class="formulario">
        <form method= "POST">
            {% csrf_token %}
            {{form.non_field_errors}}
            <div>
                <label for="{{ form.areas.id_for_label }}" class="label-areas">
                    {{ form.areas.label }}
                </label>
                {{ form.areas }}

                {%for error in form.areas.errors%}
                    <p style="color: rgb(179, 0, 48);">{{error}}</p>
                {%endfor%}
            </div>
            <button type="submit" class="form-submit"> Siguiente </button>
        </form>
    </div>
{%endblock%}