{%extends 'index.html' %}
{%block title%} SELECCION {%endblock%}

{%block content%}
    <h1 class="form-title">Selecciona areas de apoyo</h1>
    <div class="formulario">
        <div class="registro-card">
            <form method= "POST">
                {% csrf_token %}
                {{form.non_field_errors}}
                <div>
                    <label class="label-areas">{{ form.areas.label }}</label>

                    <ul class="areas-list">
                        {% for checkbox in form.areas %}
                            <li class="area-item">
                                <label for="{{ checkbox.id_for_label }}">
                                    {{ checkbox.tag }}
                                    {{ checkbox.choice_label }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <button type="submit" class="form-submit"> Siguiente </button>
            </form>
        </div>
    </div>
{%endblock%}