{% extends "index.html" %}

{% block title %}Adulto Mayor{% endblock %}

{% block content %}
<h2>Yo te puedo ayudar!</h2>
<div class="mt-4">
        <a href="{% url 'mis_citas' %}" class="button">Ver citas actuales</a>
</div>
<ul>
    {%if lista%}
        {% for estudiante, voluntario, areas_estudiante in lista %}
        <li><h3>{{ estudiante.first_name }} {{ estudiante.last_name }}</h3>
        {{ voluntario.descripcion }}
        <br>
        Te puedo ayudar en: 
        {% for area in areas_estudiante %} 
        {% if area == areas_estudiante|last %}
        {{ area }}. 
        {% else %}
        {{ area }},
        {% endif %}
        {% endfor %}
        <br>
        ¡En tu comuna!
        <br>
        <a href='{% url "agendar_citas" estudiante.rut %}'>Agendar Cita</a></li>
        {% empty %}
        {% endfor %}
    {%else%}
    <li>No hay voluntarios disponibles</li>
    {%endif%}
</ul>
{% endblock %}