{% extends "index.html" %}

{% block title %}Adulto Mayor{% endblock %}

{% block content %}
<h2>Yo te puedo ayudar!</h2>
<div class="mt-4">
        <a href="{% url 'mis_citas' %}" class="button">Ver citas actuales</a>
</div>
<ul>
<!--   {%if lista%}--> 
        {% for estudiante, voluntario, areas_estudiante in lista %}
        <li>
            <div class="card mt-4 tu-perfil">
                <h2 class="card-title"><b>{{ publi.titulo }}{{ estudiante.first_name }} {{ estudiante.last_name }}</b></h2>
                {{ voluntario.descripcion }}
                <br>
                Estudiante del {{ estudiante.get_campus_display }}
                <br>
                <b>Te puedo ayudar en: </b>
                {% for area in areas_estudiante %} 
                {% if area == areas_estudiante|last %}
                {{ area }}. 
                {% else %}
                {{ area }},
                {% endif %}
                {% endfor %}
                <br>
                ¡En tu comuna!
                <br>
                <br>
                <a href='{% url "agendar_citas" estudiante.rut %}'>Agendar Cita</a>
            </div>
            <br>
        </li>
                {% empty %}
                {% endfor %}
        <!--    {%else%}-->
    <li>No hay voluntarios disponibles</li>
<!--    {%endif%}-->
</ul>
{% endblock %}