iframe {
  padding: 3rem;
  width: 60vw;
  height: 40vw;
  border-radius: 4rem;
}


/*--BOTONES--*/
button {
  cursor:pointer;
  border-radius: 7vw;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  transition: all 0.5s ease;
  border-color: hsl(239, 98%, 67%);
  border-width: 0.5rem;
  background-color: hsl(240, 73%, 93%);
}
button:hover {
  background-color: hsl(239, 98%, 67%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
  border-color: hsl(240, 73%, 93%);
}
button:active {
  background-color: hsl(231, 58%, 33%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 50ms;
  border-color: hsl(240, 73%, 93%);
}
.primary-button {
  width: 30vw;
  height: 30vw;
  max-height: 30vw;
  background-image: url("images/user.png");
  background-repeat: no-repeat;
  background-position: center 2vw;
  background-size: 17vw;
  padding-top: 20vw;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: hsl(239, 98%, 67%);
}
.secondary-button {
  width: 30vw;
  height: 30vw;
  max-height: 30vw;
  background-image: url("images/old-people.png");
  background-repeat: no-repeat;
  background-position: center 2vw;
  background-size: 17vw;
  padding-top: 20vw;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: hsl(239, 98%, 67%);
}
.button-container {
  justify-content: center;
  display:flex;
  align-items: center;
  column-gap: 4vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
.agendar-button {
  width: 25vw;
  height: 35vw;
  max-height: 35vw;
  background-image: url("images/user.png");
  background-repeat: no-repeat;
  background-position: center 2vw;
  background-size: 17vw;
  padding-top: 25vw;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: hsl(239, 98%, 67%);
}
.mis-citas-button {
  width: 25vw;
  height: 35vw;
  max-height: 35vw;
  background-image: url("images/user.png");
  background-repeat: no-repeat;
  background-position: center 2vw;
  background-size: 17vw;
  padding-top: 25vw;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: hsl(239, 98%, 67%);
}
.perfil-estudiante-button {
  width: 35vw;
  height: 35vw;
  max-height: 35vw;
  background-image: url("images/user.png");
  background-repeat: no-repeat;
  background-position: center 2vw;
  background-size: 17vw;
  padding-top: 25vw;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: hsl(239, 98%, 67%);
}
.logout-button {
  width: 25vw;
  height: 35vw;
  max-height: 35vw;
  background-image: url("images/user.png");
  background-repeat: no-repeat;
  background-position: center 2vw;
  background-size: 17vw;
  padding-top: 25vw;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: hsl(357, 100%, 63%);
  border-color: hsl(357, 100%, 63%);
  background-color: hsl(352, 88%, 93%);
}
.logout-button:hover {
  background-color: hsl(357, 100%, 63%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
  border-color: hsl(352, 88%, 93%);
}
.logout-button:active {
  background-color: hsl(355, 72%, 32%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 50ms;
  border-color: hsl(352, 88%, 93%);
}
/*a*/
a {
  text-decoration: none;
  font-size: 2.25vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(73, 91, 255);
  width:fit-content;
  padding: 15px;
  border-radius: 1vh;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  transition: all 0.25s ease;
}
#calendar a {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
a:hover {
  background-color: hsl(41, 100%, 55%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
}
a:active {
  background-color: hsl(39, 60%, 30%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  transform: translateY(2px);
  transition: 50ms;
}
main {
  margin-top: 20vh;
  width: 100%;
}

.video-tutorial {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  color: #31353a;
  align-items: center;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.texto-tutorial {
  margin-bottom: 0;
}
.about-us {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  color: #31353a;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5rem;
  padding-right: 5rem;
}
.about-us-title {
  font-weight: bolder;
  font-size: 4rem;
}
.about-us-text {
  font-size: 0.5rem;
  font-weight: lighter;
  
}

.logo {
  width: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.indice {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 2rem;
  align-items: center;
  padding-right: 3rem;
}


.header {
  background-color: #0d266b;
  display:flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 15vh;
  margin-left: 0vw;
  margin-top: 0vw;
  z-index: 10;
}
.formulario {
  justify-content: center;
  display:flex;
  align-items: center;
}
form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.form-title {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: hsl(239, 98%, 67%);
}
.form-submit {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  height: 5rem;
  color: hsl(239, 98%, 67%);
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-weight: bold;
  
}
.label-areas {
  font-weight: bolder;
  color: #0d266b;
  font-size: 1.5rem;
}
ul {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}

.perfil-p1 {
  justify-content: center;
  display:flex;
  align-items: flex-start;
  column-gap: 4vw;
}
.perfil-p2 {
  justify-content: space-between;
  display:flex;
  align-items: flex-start;
}
.tu-perfil {
  background-color: hsl(240, 73%, 93%);
  padding: 2rem;
  padding-top: 0.5rem;
  border-radius: 1.5rem;
  width: 50vw;
}
.card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: hsl(239, 98%, 67%);
}
.card-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.card-text {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  overflow-wrap: anywhere;
  font-weight: lighter;
  
}

.tus-citas {
  background-color: hsl(240, 73%, 93%);
  padding: 2rem;
  border-radius: 1.5rem;
  width: 30vw;
}
.no-has {
  color: red;
}