{%extends "index.html"%}
{% load static %}
{%block title%} KAIROS {%endblock%}


{%block content%}

<div class="botones">
    <div class="card button-container">
        {% if usuario %}
            
            <button onclick="window.location.href='{% url 'logout' %}'" class="logout-button">Cerrar sesión</button>

            <br>
            {% if persona.tipo == "ESTUDIANTE" %}
                
                <button onclick="window.location.href='{% url 'perfil_estudiante' %}'" class="perfil-estudiante-button">Perfil</button>

            {% else %}
                
                <button onclick="window.location.href='{% url 'elegir' %}'" class="agendar-button">Agendar una cita</button>
                <br>
                
                <button onclick="window.location.href='{% url 'mis_citas' %}'" class="mis-citas-button">Mis citas</button>

            {%endif%}
        {% else %}
            <button onclick="window.location.href='{% url 'registro' %}'" class="primary-button" id="boton-registro">Ir a registro</button>
            <button onclick="window.location.href='{% url 'login' %}'" class="secondary-button" id="boton-inicio-sesion">Ir a iniciar sesión</button>
        {% endif %}
    </div>
</div>

<div class="card video-tutorial" id="tutorial">
            <h1 class="texto-tutorial">Tutorial</h1>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/JNSsNBl6brE?si=PNTvXv75CziqlrDb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="card about-us">
            <h1 class="about-us-title">Sobre KAIROS</h1>
            <div id="about"></div>
        </div>    
                <script>
                    fetch("{% static 'about.json' %}")
                        .then(response => response.json())
                        .then(data => {
                        const paragraphs = data.about.split("\n\n");
                        const container = document.getElementById("about");

                        paragraphs.forEach(p => {
                            const para = document.createElement("p");
                            para.textContent = p;
                            container.appendChild(para);
                        });
                        })
                        .catch(error => console.error("Error cargando el About Us:", error));
                </script>           

</body>
{%endblock%}