{%extends "index.html"%}

{%block title%} CREDITOS ASISTENCIA ADULTO MAYOR {%endblock%}


{%block content%}

<div class="botones">
    <div class="card button-container">
                <button onclick="window.location.href='{% url 'registro' %}'" class="primary-button" id="boton-registro">Ir a registro</button>
                <button onclick="window.location.href='{% url 'login' %}'" class="secondary-button" id="boton-inicio-sesion">Ir a iniciar sesión</button>
    </div>
</div>

<div class="card video-tutorial" id="tutorial">
            <h1 class="texto-tutorial">Tutorial</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fcmYrba9ZXY?si=1fntBMvuZyjBYPv-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="card about-us" id="about">
            <h1 class="about-us-title">Sobre nosotros</h1>
            <h4 class="abut-us-text">Mediante incentivo académico y empatía, el equipo 6 Los Powercomputines plantea la opción a estudiantes que estén tomando electivos de convalidar esos créditos mediantes citas con adultos mayores que las necesiten en ciertas áreas de apoyo, a una distancia razonable, acomodando tanto al estudiante como al adulto mayor. Considerando y priorizando la comodidad del adulto mayor, nunca tratándolo como menos, reconociendo que son capaces de manera independiente pero al mismo tiempo dándoles la opción y posibilidad de pedir ayuda gratuita si así lo desean. </h4>
        </div>
</body>
{%endblock%}