{% extends "index.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Mis citas agendadas</h2>

    {% if citas %}
    <ul class="list-group">
        {% for cita in citas %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="card mt-4 tu-perfil">
                <div>
                    <h2 class="card-title"><b>{{ cita.estudiante.first_name }} {{ cita.estudiante.last_name }}</b></h2>
                    <strong>Campus del Estudiante:</strong> {{ cita.estudiante.get_campus_display }}<br>
                    <strong>Fecha:</strong> {{ cita.fecha.fecha }}<br>
                    <strong>La comunicación es esencial!</strong><br>
                    <strong>Contactate mediante:</strong> {{ cita.estudiante.email }}
                </div>
                <span class="badge {% if cita.esta_completada %}bg-success{% else %}bg-warning text-dark{% endif %}">
                    <strong>Estado:</strong>
                    {% if cita.esta_completada %}Completada{% else %}Pendiente{% endif %}
                </span>
            </div>
        </li>
        <br>
        {% endfor %}
    </ul>
    {% else %}
    <p>No tienes citas agendadas aún.</p>
    {% endif %}
</div>

<div class="mt-4">
        <a href="{% url 'elegir' %}" class="button">Volver al listado</a>
</div>
{% endblock %}
