{% load static %}
<!DOCTYPE html>
<html lang="en">

{{ request.resolver_match.url_name }}


<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} KAIROS {%endblock%}</title>
    <link rel="icon" href="{% static 'css/images/logo1.png' %}" type="image/x-icon">
</head>
<body>
    <main>
        {%block content%}
        {%endblock%}
    </main>

    <header class="header">
        <div class="logo-container"> 
            <img src="{%static 'css/images/logo1.png' %}" class="logo" alt="" srcset="">
        </div>
        <div class="indice">
            <a href='{% url "home" %}'>inicio</a>
            {% if request.resolver_match.url_name == 'home' %}
                <a href="#about">sobre nosotros</a>
                <a href="#tutorial">video tutorial</a>
            {% endif %}
        </div>
    </header>

    
</html>

{%comment%}
Aquí están los demás urls. Primero hay que crear las views y toda la cosa antes de
poner estos botones pq me tiraba error de que no encontraba el login_adultoM y link_video o algo así.
        <br>
        <a href = "{%url 'registro_estudiante'%}" class="button">Soy estudiante</a>
        <br>
        <a href = "{%url 'registro_adultoM'%}" class="button">Soy adulto</a>
        <br>
        <a href = "{%url 'login_adultoM'%}" class="button">Soy adulto</a>
        <br>
        <a href = "{%url 'link_video'%}" class="button">Video tutorial</a>
{%endcomment%}