{% load static %}
<!DOCTYPE html>
<html lang="en">

{{ request.resolver_match.url_name }}


<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} KAIROS {%endblock%}</title>
    <link rel="icon" href="{% static 'logo.png' %}" type="image/png">

</head>
<body>
    <main>
        {%block content%}
        {%endblock%}
        <h2>Selecciona texto y haz clic en el botón para escucharlo</h2>

        <button class="publish-btn" onclick="speakSelection()">🎧 Leer selección</button>
        <button class="publish-btn" onclick="stopSpeech()"> ❚❚ Detener</button>

        <script>
            let voices = [];

            // Cargar voces disponibles
            function loadVoices() {
            voices = speechSynthesis.getVoices();
            }
            speechSynthesis.onvoiceschanged = loadVoices;

            function speakSelection() {
            const selectedText = window.getSelection().toString();

            if (selectedText.trim() === "") {
                alert("Por favor selecciona un texto primero.");
                return;
            }

            const utterance = new SpeechSynthesisUtterance(selectedText);

            const spanishVoice = voices.find(v => v.lang.startsWith("es"));

            if (spanishVoice) {
                utterance.voice = spanishVoice;
            }

            utterance.rate = 1;
            utterance.pitch = 1;

            speechSynthesis.speak(utterance);
            }

            function stopSpeech() {
            speechSynthesis.cancel();
            }
        </script>
    </main>

    <header class="header">
        <div class="logo-container"> 
            <img src="{%static 'css/images/KAIROS.png' %}" class="logo" alt="" srcset="">
        </div>
        <div class="indice">
            <a href='{% url "home" %}'>Inicio</a>
            {% if request.resolver_match.url_name == 'home' %}
                <a href="#about">Sobre KAIROS</a>
                <a href="#tutorial">Video Tutorial</a>
            {% endif %}
        </div>
    </header>

    
</html>