<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{%block title%} CREDITOS ASISTENCIA ADULTO MAYOR {%endblock%}</title>
</head>
<body>
    <main>
        {%block content%}
        ¡Bienvenido! 
        {%endblock%}
    </main>

    <header class="header">
        <div class="logo-container"> <img src="images/logo1.png" class="logo" alt="" srcset=""></div>
        <div class="indice">
            <a href='{% url "home" %}'>inicio</a>
            <a href="about">sobre nosotros</a>
            <a href="https://www.youtube.com/embed/fcmYrba9ZXY?si=1fntBMvuZyjBYPv-">video tutorial</a>
        </div>
    </header>

    <div class="botones">
        <button onclick="window.location.href='{% url 'home' %}'" class="button">Ir a inicio</button>
        </div>
    </div>
</html>

{%comment%}
Aquí están los demás urls. Primero hay que crear las views y toda la cosa antes de
poner estos botones pq me tiraba error de que no encontraba el login_adultoM y link_video o algo así.
        <br>
        <a href = "{%url 'registro_estudiante'%}" class="button">Soy estudiante</a>
        <br>
        <a href = "{%url 'registro_adultoM'%}" class="button">Soy adulto</a>
        <br>
        <a href = "{%url 'login_adultoM'%}" class="button">Soy adulto</a>
        <br>
        <a href = "{%url 'link_video'%}" class="button">Video tutorial</a>
{%endcomment%}